google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
firebase-admin

selenium
webdriver-manager
firebase-admin
google-api-python-client
supabase
pywebpush

instaloader
google-cloud-vision
firebase-admin
google-api-python-client
